# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.local

# local bash
*.sh

# agent files
agent/logs/*.md
!agent/AGENTS.md
agent/credentials/
