@import "tailwindcss";
@theme {
  --color-brand: #13283B;
  --color-palladian: #EEE9DF;
  --font-sans: 'Lexend', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  body {
    @apply bg-white text-brand font-sans;
  }
  .dark body {
    @apply bg-brand text-white;
  }
}